/*
Author: Zachary Humbard
Assignment: Responsive Travel
Filename:styles.css
Date:07/05/2022
*/

html{
color:black;
}

body{
  background-color: tan;
}

.container{
  width:80%;
}
header{
  text-align: center;
}
.section{

}
img{
  display: none;
}
.col1,.col2{
  width:100%;
  text-align: center;
}

.city1{
  text-align: center;
  width:100%;
  image-orientation: center;
}

h2{
  text-align: center;
}
footer{
  clear: both;
}
.buttons{
  clear:both;
}
/*Alternate media styles*/
@media screen and (min-width:550px)
{
 .col1,.col2{
width: 100%;
 }
 img{display:inline-block;
   width: 100%;
 }
}
@media screen and (min-width:800px){
  .col1,.col2{
    float:left;
    width:50%;
  }
}

@media screen and (min-width: 1000px){
  .city1{
    width:75%;
    margin-left: auto;
    margin-right: auto;
  }
  }
